# Configuración del Servidor
PORT=3000

# Base de Datos
MONGODB_URI=mongodb://localhost:27017/proyecto_final_db_v2

# Frontend
FRONTEND_URL=http://localhost:5173

# Autenticación y Sesiones
SESSION_SECRET=tu_secreto_super_seguro
